<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
<title>Teste thymeleaf</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<link type="text/css" rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}"/>
<link type="text/css" rel="stylesheet" th:href="@{/resources/css/custom.css}"/>

<script type="text/javascript" th:src="@{/resources/jquery/jquery-3.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/bootstrap/js/bootstrap.min.js}"></script>

</head>
<body>

	<div class="container">
	
		<div>
			<img alt="Spring Rules" th:src="@{/resources/images/spring-by-pivotal.png}" class="img img-responsive logo"/>
		</div>
	
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${products}">
					<td th:text="${product.id}"></td>
					<td th:text="${product.name}"></td>
					<td th:text="${product.description}"></td>
				</tr>
			</tbody>
		</table>
	
	</div>
	
</body>
</html>